@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 1050px) {
  .themeToggleMargin {
    padding-right: 8px;
  }
}
@media (max-width: 1080px) {
  .logoNavMargin {
    margin-right: 8px;
  }
}

.bg-hero {
  background-image: url("/oskar-yildiz-cOkpTiJMGzA-unsplash.jpg");
  height: 100svh;
  max-height: -webkit-fill-available;
  background-size: cover;
}

@media (min-width: 1080px) {
  .bg-hero {
    background-image: url("/oskar-yildiz-cOkpTiJMGzA-unsplash.jpg");
    background-attachment: fixed;
  }
}

.text-secondary {
  color: #2e76c3; /* Example color */
}
